body{
    background: #2D3047;
    color: #fff;
}

.app{
    text-align: center;
}

.header{
    padding: 34px 0px;
    text-align: left;
    border-bottom: 4px solid #359c82;
    margin-bottom: 40px;
    box-shadow: 0px 0px 33px 0px black;
}

.container{
    background: #212333;
    padding-bottom: 35px;
    overflow: hidden;
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}
.input-group-addon{
    cursor: pointer;
}
.search-text{
    font-family: arial;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
}

.profile{
    background: #ffffff;
    padding: 20px;
    color: black;
    border-radius: 4px;
}

.profile-picture{
    max-width: 250px;
    border-radius: 50%;
    border: 4px solid #359c82;
    margin-bottom: 10px;
}

.profile-name{
    font-weight: bold;
    font-size: 2em;
    color: #2D3047;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    width: 100%;
}
.profile-name h2{
    background: #ffffff;
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 0 12px;
}
.profile-name:before{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 4px solid #359c82;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 4px;
}

.profile-followers{
    font-size: 1.4em;
    font-weight: bolder;
    color: #359c82;
    margin-bottom: 10px;
}

.profile-genres{
    font-size: 1.2em;
    color: #2D3047;
    text-align: left;
    background: #e6e6e6;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid #2D3047;

}

/*Gallery Component*/

.song-gallery{

}

.gallery-wrapper{
    float: left;
    background: rgba(255, 255, 255, 0.84);
    overflow: hidden;
    border-radius: 4px;
}

.song-gallery h3{
    margin: 0;
    margin-bottom: 16px;
    padding: 20px;
    background: #359c82;
    color: #ffffff;
    border-bottom: 4px solid #226b59;
    box-shadow: 0px 4px 160px 43px rgba(33, 35, 51, 0.56);
    position: relative;
    text-transform: uppercase;
}

.track{
    margin-bottom: 10px;
}

.track-image{
    max-width: 100%;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
    position: relative;
}

.track-title{
    color: white;
    background: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px 0px 4px 4px;
}

.track-play{
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    top: 50%;
    left: 50%;
    background: #359c82;
    margin-top: -74px;
    margin-left: -50px;
    border-radius: 50%;
    border: 3px solid #212333;
    cursor: pointer;
    opacity: 0;
}

.track:hover .track-play{
    animation: play-up 200ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes play-up{
    0%{
        opacity: 0;
        top: 100%;
    }
    100%{
        opacity: 0.98;
        top: 50%;
    }
}

.track-play-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    line-height: 50px;
    margin-left: -15px;
    margin-top: -22px;
    color: #2d3047;
    cursor: pointer;
}

.track-pause-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-left: -14px;
    margin-top: -22px;
    color: #2d3047;
    cursor: pointer;
}